        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #ffffff;
        }
        body{
            background: #ffffff;
        }
        header {
            width: 100%;
               height:450px;
            clip-path: polygon(0 0, 100% 0, 100% 81%, 81% 69%, 39% 80%, 0 81%);
            background: #000a12;
        }
        nav {
            width: 70%;
margin-left: 18%;
            padding: 20px;
            height: 100px;

        }
        .navContainer {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: 2px solid orange;
        }
        .navContainer ul {

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        li {
            font-size: 22px;
            font-weight: 600;
            color: #ffffff;
            list-style: none;
        }
        li a {
            text-decoration: none;
            color: #ffffff;

        }
       .img img{
            height: 250px;
            width: 250px;
            border-radius: 100%;
            aspect-ratio: preserve;
        }
        .navSec{
            padding: 10px;
            margin-top: 70px;
            margin-left: 30px;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .img{
            width: 40%;
            max-width: 40%;
            margin-right: 200px;
        }
        .text h4 span{
           color: orange;
           font-size: 22px;
           font-weight: 700;
        }
        .text h4{
            margin-bottom: 10px;
        }
        .hirebtn{
        
            margin-top: 20px;
            
        }
        button{
            height: 80px;
        text-decoration: none;
            width: 200px;
            border-radius: 10px;
            border: 2px solid orange;
            text-align: center;
            margin-top: 20px;
            background: transparent;
            font-size: 32px;
            color: orange;
            font-weight: 800;
        }
.aboutMe{
    background:#f8f8ff;
    width: 100%;
       
}
.abtHeading{
    text-align: center;
    width: 100%;
}
.abtHeading h2{
    color: orange;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    
}
.abtContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 30px;
}
.left{
    width: 40%;
    margin-right: 50px;
    
}
.left img{
    height: 400px;
    width: 400px;
    border-radius: 20px
}
.right p{
    width: 100%;
    color:#000000;
    font-size: 18px;
}
