@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,900;1,800;1,900&display=swap');        
*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            
        }
        html{
               scroll-behavior:smooth;
               }
        body{
            background: #ffffff;
        }
        header {
             width: 100%;
             height:600px;
             position:relative;
             background:    linear-gradient(to bottom,rgba(236, 165, 28, 0.82),rgba(255, 165, 0, 0.75));
}
        
.custom-shape{
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
    
}

.custom-shape .shape-fill {
    fill: #ffffff;
}

        nav {
            width: 70%;
            margin-left: 18%;
            padding: 20px;
            height: 100px;

        }
        .navContainer {
            width: 100%;
            border-radius: 20px;
            border: 2px solid orange;
            box-shadow: 0px 6px 8px black; 
        }
        .navContainer ul {
            padding:10px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
               padding:10px;
        }
        li {
            
           
            list-style: none;
           
        }
        li a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size:24px;
                    font-weight:400;
                     transition:all 0.3s ease;
                    letter-spacing:1px;

        }
nav ul li a:hover{
            transform:scale(1.2);
            color:orange;
}
       .img img{
            height: 260px;
            width: 260px;
            border-radius: 80%;
            aspect-ratio: preserve;
            float:right;
            margin-right:20px;
            box-shadow:-4px 8px 12px black;
            
        }
        .navSec{
            padding: 10px;
            margin-top: 70px;
            margin-left: 5%;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
      .img{
            width: 40%;
            margin-right: 30px;
        }
     .text{
                 max-width:50%;
                 }
        .text h4 span{
                    color: orange;
                    font-size: 32px;
                    font-weight: 500;
                    letter-spacing:1.2px;
                    margin-left:10px;
        }
.text-wrap{
            width:60%;
           
}
        .text h4{
                    margin-bottom: 10px;
                  
        }
        .hirebtn{
        
            margin-top: 45px;
            margin-left:70px;
            background: transparent;
                
        }
        .hirebtn a{
                    padding:6px 25px;
                    border: 2px solid orange;    
                    text-decoration: none;
                    letter-spacing:1.5px;
                    color:rgba(128,128,128,0.8);
                    box-shadow: 0px 6px 8px black;
                    cursor:pointer;
                    transition:all 0.4s ease;
                    user-select:none;
                    font-size: 26px;
                    font-weight: 500;
                 }
   .hirebtn a:hover{
                      
                  color:orange;
                  border-radius:10px;
}


.aboutMe{
            height:520px;
}
.abtHeading{
             text-align: center;
             width: 100%;
             margin-top:30px;
             margin-bottom: 30px;
}
}
.abtHeading h2{
    color: orange;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    
}
.abtContainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left:30px;
}
.left{
   height:380px; 
   width:40% 
}
.left img{
    height: 375px;
    width: 390px;
    
}
.right{
         height:300px;
         width:55%;
}
.right p{
    width:75%;
    color:#a6a39ee6;
    font-size: 16px;
    margin-left:40px;
            
}
.weapons{
            height:600px;
    
            position:relative;
            background:linear-gradient(to bottom,rgba(236, 165, 28, 0.82),rgba(255, 165, 0, 0.75));
}
.custom-shapes{
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}
.custom-shapes svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
}

.custom-shapes .shape-fill {
    fill: #FFFFFF;
}
.weapon-wrapper{
            display:grid;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            grid-template-columns: auto auto auto;
            }
.weapon-wrapper img{
              height:100px;
              width:100px;
              margin:30px;
            }
