@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,900;1,800;1,900&display=swap');        
*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #ffffff;
       font-family: 'Poppins', sans-serif;
        }
        html{
               scroll-behavior:smooth;
               }
        body{
            background: #ffffff;
        }
        header {
            width: 100%;
               height:590px;
            clip-path: polygon(0 0, 100% 0, 100% 81%, 81% 69%, 39% 80%, 0 81%);
            background: #28282B;
        }
        nav {
            width: 70%;
margin-left: 18%;
            padding: 20px;
            height: 100px;

        }
        .navContainer {
            width: 100%;
            border-radius: 20px;
            border: 2px solid orange;
               
        }
        .navContainer ul {
            padding:10px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
               padding:10px;
        }
        li {
            
           
            list-style: none;
            transition:all 0.4s ease-in-out;
        }
        li a {
            text-decoration: none;
            color: #ffffff;
                    font-size:24px;
                    font-weight:400;

        }
nav ul li:hover{
            transform:scale(1.4);
            color:orange;
}
       .img img{
            height: 250px;
            width: 250px;
            border-radius: 100%;
            aspect-ratio: preserve;
        }
        .navSec{
            padding: 10px;
            margin-top: 70px;
            margin-left: 30px;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
      .img{
            width: 40%;
            margin-right: 80px;
        }
        .text h4 span{
           color: orange;
           font-size: 22px;
           font-weight: 700;
        }
        .text h4{
            margin-bottom: 10px;
        }
        .hirebtn{
        
            margin-top: 20px;
            height:80px;
            width:195px;
            text-align: center;
            background: transparent;
            font-size: 26px;
           
            font-weight: 500;
        }
        .hirebtn a{
                    padding:1.5rem 2rem;
                    border-radius:10px;
                    border: 2px solid orange;    
                    text-decoration: none;
                    letter-spacing:1.5px;
                    color: orange;
                 }
   .hirebtn a:hover{
                       transform:translateX(10px);
                       
}


.aboutMe{
    
    width: 100%;
       
}
.abtHeading{
    text-align: center;
    width: 100%;
}
.abtHeading h2{
    color: orange;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    
}
.abtContainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 30px;
    margin-left:5%;
}
.left{
    margin-left:20px;
       
    
}
.left img{
    height: 650px;
    width: 750px;
}
.right p{
    width:100%;
    color:#555555;
    font-size: 24px;
}
