@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,900;1,800;1,900&display=swap');        
*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            outline:none!important;
            user-select:none;
        }
        html{
               scroll-behavior:smooth;
               }
        body{
            background: #ffffff;
        }
        header {
             width: 100%;
             height:600px;
             position:relative;
             background:    linear-gradient(to bottom,rgba(236, 165, 28, 0.82),rgba(255, 165, 0, 0.75));
}
        
.custom-shape{
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
    
}

.custom-shape .shape-fill {
    fill: #ffffff;
}

        nav {
            width: 70%;
            margin-left: 18%;
            padding: 20px;
            height: 100px;

        }
        .navContainer {
            width: 100%;
            border-radius: 20px;
            border: 2px solid orange;
            box-shadow: 0px 6px 8px black; 
        }
        .navContainer ul {
            padding:10px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
               padding:10px;
        }
        li {
            
           
            list-style: none;
           
        }
        li a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size:24px;
                    font-weight:400;
                     transition:all 0.3s ease;
                    letter-spacing:1px;

        }
nav ul li a:hover{
            transform:scale(1.2);
            color:orange;
}
       .img img{
            height: 260px;
            width: 260px;
            border-radius: 80%;
            aspect-ratio: preserve;
            float:right;
            margin-right:20px;
            box-shadow:-4px 8px 12px black;
            
        }
        .navSec{
            padding: 10px;
            margin-top: 70px;
            margin-left: 5%;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
      .img{
            width: 40%;
            margin-right: 30px;
        }
     .text{
                 max-width:50%;
                 }
     .text h6{
                 font-size:18px;
                 
                 }
        .text h6 span{
                    color:rgba(128,128,128,0.8);
                    font-size: 32px;
                    font-weight: 500;
                    letter-spacing:1.2px;
                    margin-left:10px;
        }
.text-wrap{
            width:70%;
            font-size:22px;
           
}
        .text h4{
                    margin-bottom: 10px;
                  
        }
        .hirebtn{
        
            margin-top: 45px;
            margin-left:70px;
            background: transparent;
                
        }
        .hirebtn a{
                    padding:6px 25px;
                    border: 2px solid orange;    
                    text-decoration: none;
                    letter-spacing:1.5px;
                    color:rgba(128,128,128,0.8);
                    box-shadow: 0px 6px 8px black;
                    cursor:pointer;
                    transition:all 0.4s ease;
                    user-select:none;
                    font-size: 26px;
                    font-weight: 500;
                 }
   .hirebtn a:hover{
                      
                  color:orange;
                  border-radius:15px;
}


.aboutMe{
            height:520px;
}
.abtHeading-wrapper{
           
             margin-top:30px;
             text-align: center;
             width: 100%;
             margin-bottom: 30px;
             height:100px;

}
.abt-text{
  
    color: orange;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
   
}
.abtContainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left:30px;
}
.left{
   height:380px; 
   width:40% 
}
.left img{
    height: 375px;
    width: 390px;
    
}
.right{
         height:300px;
         width:55%;
}
.right p{
    width:75%;
    color:#a6a39ee6;
    font-size: 22px;
    margin-left:40px;
            
}
.weapons{
           
            height:680px;
            position:relative;
            background:linear-gradient(to bottom,rgba(236, 165, 28, 0.82),rgba(255, 165, 0, 0.75));
}
.weapons h1{
            
             position:absolute;
             top:35px;
             left:44%;
             color:#ffffff;
             font-size:28px;
             font-weight:600;
            }
.custom-shapes{
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}
.custom-shapes svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
}

.custom-shapes .shape-fill {
    fill: #FFFFFF;
}
.weapon-wrapper{
            position: absolute;
            top:160px;
            left:50px;
            width:85%;
            display:grid;
            grid-row-gap:38px;
            grid-template-columns: auto auto auto;
            place-items:center;
           
            }
.weapon-wrapper img{
              height:75px;
              width:80px;
              transition:all 0.4s ease;
            }
.weapon-wrapper img:hover{
            transform:scale(1.2);
           
}
.weapon-wrapper img:nth-child(1){
              height:50px;
              width:55px;
            
            }
.weapon-wrapper img:nth-child(5){
              height:120px;
              width:100px;
            
            }
.weapon-wrapper img:nth-child(4){
              height:80px;
              width:100px;
            
            }
.weapon-wrapper img:nth-child(7){
              height:80px;
              width:100px;
            
            }
.weapon-wrapper img:nth-child(10){
              height:80px;
              width:100px;
            
            }


footer{
            height:300px;
            width:100%;
            margin-top:50px;
            background:orange;
}
.social-container{
          height:200px;
          display:grid;
          place-items:center;
}
.soc-icons{
            display:flex;
            align-items:center;
            justify-content:center;
}
.soc-icons span{
           margin-left:70px;
}
.soc-icons span a{
            text-decoration:none;
            transition:all 0.4s ease;
            
}
.soc-icons span a:hover{
            transform:scale(1.2),rotate(10deg);
            color:hsl(100, 115, 90)
}
.soc-icons span i{
             font-size:55px;
             color:rgb(127, 127, 127);
}
.copyright{
             position:relative; 
             height:80px;
             width:100%
            }
.copyright p{
          position:absolute; 
          bottom:0;
          left:30%;
          color:#FDF4DC;
          font-size:24px;
}
.copyright p span{
            color:rgba(127,127,127,1);
            font-size:25px;
}
@media screen and (max-width: 360px) {
       nav {
            width: 95%;
            margin-left: 10px;
            padding: 6px;
            height: 50px;

        }

       .navContainer {
            width: 100%;
            border-radius: 20px;
            box-shadow: 0px 6px 8px black; 
        }
        .navContainer ul {
            padding:4px;
        }
    
        li a {
                    font-size:12px;
        }
           .img img{
            height: 110px;
            width: 100px;
            border-radius: 80%;
            
            
        }
        .navSec{
            padding: 5px;
            margin-top: 10px;
            margin-left: 2%;
            width: 96%;
            
            
        }
      .img{
            width: 38%;
            margin-left: 3px;
            padding: 2px;
            height: 120px;
      }
      .text{
         height: 200px;
         margin-top: 13%;
          
      }
        .text h6 span{
                  color: orange;
                  font-size: 16px;
                  font-weight: 800;
                  letter-spacing:1px;
                  margin-left:5px;
                  text-transform:uppercase;
        }
.text-wrap{
            width:100%;
            font-size:10px;
            margin-bottom: 26px;
            color:rgba(128,128,128,0.8);
           
}

        .text h6{
                    margin-bottom: 6px;
                    font-size:10px;
                    color:rgba(128,128,128,0.8);
                  
        }
        .hirebtn{
        
            margin-top: 10px;
            margin-left:10px;
            background: transparent;
                
        }
        .hirebtn a{
                    padding:3px 12px;
                    border: 1px solid orange;
                    color:rgba(128,128,128,0.8);
                    font-size: 20px;
                    font-weight: 500;
                 }
   
header {
        
             height:400px;
        
}

.aboutMe{
            height: 250px;
}

.abt-text{
    font-size: 20px;
}
.abtHeading-wrapper{
             margin-top:20px;
             margin-bottom: 8px;
             height:40px;

}
.abtContainer{
    width: 96%;
    margin-left:10px;
    
}
.left{
   height:100px; 
   width:20% 
}
.left img{
    height: 100px;
    width: 120px;
    
}
.right{
         height:160px;
         
}
.right p{
    width:95%;
    color:#a6a39e;
    font-size: 10px;
    margin-left:4px;
     color:rgba(128,128,128,0.8);
                    ;     
     margin-top: 15px;
     line-height: 18px;
     
}

.weapons h1{
             top:50px;
             left:32.5%;
             color:#ffffff;
             font-size:22px;
             font-weight:600;
            }
.copyright{
              
              height: 28px;
}
.copyright p{
          position:absolute; 
          bottom:0;
          left:25%;
          color:#FDF4DC;
          font-size:8px;

}
.copyright p span{
            color:rgba(127,127,127,1);
            font-size:10px;
}
.social-container{
          height:70px;
          display:grid;
          place-items:center;
          
}
.soc-icons span i{
             font-size:16px;
             color:rgb(127, 127, 127);
             margin-left: 8px;
}
footer{
            height:110px;
           
}
.soc-icons span{
           margin-left:10px;
}
   
 .weapons{
        height: 450px;
}
.weapons h1{

             font-size:18px;
            }
  
  .weapon-wrapper{
            position: absolute;
            top:130px;
            left:5px;
            width:95%;
            grid-row-gap:23px;
           
            }
.weapon-wrapper img{
              height:45px;
              width:55px;
            }

.weapon-wrapper img:nth-child(1){
              height:45px;
              width:55px;
            
            }
 .weapon-wrapper img:nth-child(2){
              height:52px;
              width:55px;
            
            }
.weapon-wrapper img:nth-child(5){
              height:45px;
              width:55px;
            }
.weapon-wrapper img:nth-child(4){
              height:45px;
              width:62px;
            
            }
.weapon-wrapper img:nth-child(7){
            height:45px;
              width:62px;
            
            }
.weapon-wrapper img:nth-child(10){
             height:45px;
              width:62px;
            
            }

          
}



