@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,900;1,800;1,900&display=swap');        
*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #ffffff;
       font-family: 'Poppins', sans-serif;
        }
        html{
               scroll-behavior:smooth;
               }
        body{
            background: #ffffff;
        }
        header {
             width: 100%;
             height:600px;
             position:relative;
             background:    linear-gradient(to bottom,rgba(236, 165, 28, 0.82),rgba(255, 165, 0, 0.75));
}
        }
.custom-shape{
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
}

.custom-shape .shape-fill {
    fill: #FFFFFF;
}

        nav {
            width: 70%;
margin-left: 18%;
            padding: 20px;
            height: 100px;

        }
        .navContainer {
            width: 100%;
            border-radius: 20px;
            border: 2px solid orange;
            box-shadow: 0px 6px 8px black; 
        }
        .navContainer ul {
            padding:10px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
               padding:10px;
        }
        li {
            
           
            list-style: none;
           
        }
        li a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size:24px;
                    font-weight:400;
                     transition:all 0.3s ease;
                    letter-spacing:1px;

        }
nav ul li a:hover{
            transform:scale(1.2);
            color:orange;
}
       .img img{
            height: 250px;
            width: 250px;
            border-radius: 100%;
            aspect-ratio: preserve;
        }
        .navSec{
            padding: 10px;
            margin-top: 70px;
            margin-left: 30px;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
      .img{
            width: 40%;
            margin-right: 80px;
        }
        .text h4 span{
                    color: orange;
                    font-size: 32px;
                    font-weight: 700;
                    letter-spacing:1.2px;
                    margin-left:10px;
        }
        .text h4{
            margin-bottom: 10px;
        }
        .hirebtn{
        
            margin-top: 45px;
            height:80px;
            width:250px;
            text-align: center;
            background: transparent;
            font-size: 26px;
            font-weight: 500;
        }
        .hirebtn a{
                    padding:1rem 2.5rem;
                    border-radius:10px;
                    border: 2px solid orange;    
                    text-decoration: none;
                    letter-spacing:1.5px;
                    color:indigo;
                    box-shadow: 0px 6px 8px black;
                    cursor:pointer;
                 }
   .hirebtn:hover{
                       transform:translateX(10px);
                       
}


.aboutMe{
    
    width: 100%;
       
}
.abtHeading{
    text-align: center;
    width: 100%;
    margin-top:30px;
}
.abtHeading h2{
    color: orange;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    
}
.abtContainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 30px;
    margin-left:5%;
}
.left{
    margin-left:20px;
    margin-right:30px   
    
}
.left img{
    height: 380px;
    width: 370px;
    aspect-ratio:preserve;
}
.right p{
    width:100%;
    color:rgb(128, 128, 128);
    font-size: 24px;
            
}
